<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authMethod</key>
	<string>scram256</string>
	<key>user</key>
	<string>alice</string>
	<key>dbName</key>
	<string>gigmapostgres</string>
	<key>ssl</key>
	<false/>
	<key>password</key>
	<string>1234</string>
	<key>host</key>
	<string>cloud-vm-43-179.doc.ic.ac.uk</string>
	<key>port</key>
	<integer>18384</integer>
</dict>
</plist>
